* {
    margin: 0;
    padding: 0;
}
html, body, #game {
    width: 100%;
    height: 100%;
}
body {
    background: #000;
    color: #fff;
    overflow: hidden;
    cursor: default;
}
a {
    cursor: pointer;
}
.loading-container {
    display: none;
    position: absolute;
    z-index: 1000;
    bottom: 0;
    width: 100%;
    height: 32px;
    line-height: 32px;
}
.loading-container #loading {
    position: absolute;
    left: 0;
    height: 32px;
    line-height: 22px;
    font-size: 12px;
    color: #fff;
    background-color: rgba(255,0,0, .7);
    border-top: 1px solid #ff0000;
    padding: 5px;
}
.key-code {
    font-style: normal;
}
.key-code:before {
    content: "[";
}
.key-code:after {
    content: "]";
}
.inline {
    display: inline-block;
}
.top-buffer {
    margin-top: 20px;
}
.game-stat {
    margin-left: 10px;
    padding: 5px;
    border: 3px solid rgba(0,0,0,.5);
    background-color: rgba(0,0,0,0.5);
    box-shadow: 0 0 5px rgba(0,0,0,.5);
}
#menu {
    width: 100%;
    position: absolute;
    top: 0;
    padding: 20px 0;
    border-bottom: 5px solid rgba(0,0,0,.5);
    background-image: url(../assets/ui/dark-wood.png);
}
#build-menu {
    width: 100%;
    min-height: 188px;
    border-top: 5px solid rgba(0,0,0,.5);
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    display: none;
    background-image: url(../assets/ui/dark-wood.png);
}

#build-options img {
    width: 64px;
}

.progress {
    margin: 0;
}