* {
    margin: 0;
    padding: 0;
}
html, body, #game {
    width: 100%;
    height: 100%;
}
body {
    background: #000;
    color: #fff;
    overflow: hidden;
}
#menu {
    position: absolute;
    top: 0;
}
#build-menu {
    position: absolute;
    bottom: 0;
    display: none;
    background-image: url(../assets/ui/dark-wood.png);
}